body{
    background-color: #290133;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Raleway', sans-serif;
  }        

.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 100vh;
    align-items: center;
    color:lightblue
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 25vw;
    height: auto;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 2vw;
    margin-left: auto;
}

.text {
    font-size: 1.75vw;
}

.additional-text {
    font-size: 1vw; /* Slightly smaller text */
    color: #290133; /* Same color as background */
    margin-top: 10px; /* Space above the additional text */
}
