:root {
  --main-bg: #0a0a0a;
  --secondary-bg: #1a1a1a;
  --accent-color: #ffd700;
  --error-color: #610000;
  --text-light: #f2f2f2;
}

body {
  background-color: var(--main-bg);
  font-family: 'Raleway', sans-serif;
  color: var(--text-light);
  margin: 0;
}

.topnav {
  display: flex;
  justify-content: space-around;
  background-color: var(--secondary-bg);
  padding: 10px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items at the start for better vertical alignment */
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column; /* Stack items on mobile */
  align-items: center; /* Center items */
}

.image-container img {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.friends-container {
  text-align: center;
  padding: 20px;
}

.contact-container,
.access-code-container,
.projects-container {
  padding: 20px;
  margin: 20px;
  background-color: var(--secondary-bg);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid */
  gap: 10px;
}

.contact-card {
  padding: 10px;
  background-color: var(--main-bg);
  border-radius: 5px;
}

.access-code-form {
  display: flex;
  justify-content: center; /* Center form elements */
  margin-top: 10px;
}

.access-code-form input[type="text"] {
  width: 60%; /* Control input width */
  padding: 10px;
}

@media (max-width: 768px) {
  .main-container {
      flex-direction: column; /* Stack items for mobile */
      align-items: center; /* Center items */
  }

  .contact-grid {
      grid-template-columns: 1fr; /* Single column on mobile */
  }

  .message-container {
      padding: 20px;
      max-width: 90%; /* Responsive width */
  }

  .contact-card h2,
  .access-code-form input[type="text"],
  .footer {
      font-size: 16px; /* Adjust font sizes */
  }
}

.footer {
  display: flex;
  justify-content: center;
  padding: 10px;
}
